{% extends 'core/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <h2>Create an account</h2>

    <form id="registerForm">
        <input type="text" id="full_name" placeholder="Full Name" required>

        <input type="email" id="email" placeholder="Email" required>

        <input type="password" id="password" placeholder="Password" required>

        <!-- Role selection -->
        <select id="role" required>
            <option value="" disabled selected>Register as:</option>
            <option value="patient">Patient</option>
            <option value="doctor">Doctor</option>
        </select>

        <!-- Doctor-only fields -->
        <div id="specialityField" style="display:none;">
            <input type="text" id="speciality" placeholder="Speciality">
        </div>

        <div id="hospitalIdField" style="display:none;">
            <input type="text" id="hospital_id" placeholder="Hospital ID">
        </div>

        <input type="text" id="phone_number" placeholder="Phone Number">

        <button type="submit">Register</button>
    </form>


    <p id="message"></p>

    <p>
        Already have an account?
        <a href="{% url 'login_page' %}">Login</a>
    </p>
</div>

{% endblock %}
<script src="{% static 'core/js/register.js' %}"></script>